html, body {
    font-size: 100%;
}
body {
    background: yellow;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-family: cursive;
}

h5 {
    font-size: 1rem;
    font-family: fantasy;
}

h6 {
    font-size: .75rem;
}


/* Contact Page Styles */
.contact {
    text-align: center;
}



